---
import "@exampledev/new.css"
import App from "../components/App.jsx"
---
<html lang="ja" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>ようこそ</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body><App /></body>
</html>
