services:
  a:
    image: alpine
    command: ping 8.8.8.8
    networks:
      - br0-net
networks:
  br0-net:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br0
      com.docker.network.bridge.inhibit_ipv4: "true"
    ipam:
      config:
        - subnet: "${SUBNET_ADDRESS}"
