services:
  a:
    image: alpine
    command: ping 8.8.8.8
    networks:
      macnet:
        ipv4_address: "${IP_ADDRESS}"
networks:
  macnet:
    driver: macvlan
    driver_opts:
      parent: "${INTERFACE_NAME}"
    ipam:
      driver: default
      config:
        - subnet: "${SUBNET_ADDRESS}"
          gateway: "${GATEWAY_ADDRESS}"
